<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="/home/css/base.css">
	<link rel="stylesheet" href="/home/css/index.css">
</head>
<body>
	<!-- 头部框架开始 -->
	<div class="header">
		<div class="w1100">
			<!-- 网站logo开始 -->
			<h1 class="logo fl">
				<a href="default.html"><img src="images/logo.png" alt="黑马程序员"></a>
			</h1>
			<!-- 网站logo结束 -->
			<!-- 网站导航开始 -->
			<ul class="navigation fr">
				<li>
					<a class="active" href="index.html">首页</a>
				</li>
				<li>
					<a href="#">登录</a>
				</li>
			</ul>
			<!-- 网站导航结束 -->
		</div>
	</div>
	<!-- 头部框架结束 -->
	<!-- 文章列表开始 -->
	<ul class="list w1100">
		{{each result}}
		<li class='{{$index%2==0?"fl":"fr"}}'>
			<a href="/home/article?id={{$value._id}}" class="thumbnail">
				<img src="{{$value.cover}}">
			</a>
			<div class="content">
				<a class="article-title" href="/home/article?id={{$value._id}}">{{$value.title}}</a>
				<div class="article-info">
					<span class="author">{{$value.author.username}}</span>
					<span>{{dateformat($value.publishDate, "yyyy-mm-dd")}}</span>
				</div>
				<div class="brief">
				{{@$value.content.replace(/<[^>]+>/g, "").substr(0, 120)+"..."}}
				</div>
			</div>
		</li>
		{{/each}}
	</ul>
	<!-- 文章列表结束 -->

	<!-- 分页开始 -->
	<div class="page w1100">
		<a href="#">上一页</a>
		<a href="#" class="active">1</a>
		<a href="#">2</a>
		<a href="#">3</a>
		<a href="#">4</a>
		<a href="#">5</a>
		<a href="#">下一页</a>
	</div>
	<!-- 分页结束 -->
</body>
</html>